// Fuentes //
$font-title: 'Lobster', cursive;
$font-2: 'Indie Flower', cursive;
$font_3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// Colores //
$color_body: #39BAE8;
$color_background:#B9EDF8;
$color_font:#0000A1;
$color_foot: white;
$color_text: black;

// Sombras//




