.foot{
    text-align: center;
    background-color: $color_background ;
}
.foot__parrafo{
    background-color: $color_text;
    font-family: $font_3;
    color:$color_foot;
    text-align: center;
}